{{>header}}
      <div class="container-fluid">
	<div class="row">
	  {{>sidebar}}
          <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Profile Results</h1>
            <table class="table table-striped">
	      <thead>
		<tr>
		  <th>Profile Name</th>
		  <th>URI</th>
		  <th>Row Count</th>
                  <th>Data</th>
		</tr>
	      </thead>
              <tbody>
		<tr>
		  <td><a href={{profile-path}}>{{ profile-name }}</a></td>
                  <td>{{ uri }}</td>
		  <td>{{ row-count }}</td>
                  <td><a href="{{examples-path}}">First 10</a></td>
		</tr>
              </tbody>
            </table>

            <h2 class="sub-header">Fields</h2>
            <div class="table-responsive">
              <table class="table table-striped">
		<thead>
                  <tr>
                    <th>Field</th>
                    <th>Uniqueness</th>
                    <th>Profile</td>
                  </tr>
		</thead>
		<tbody>
		  {{#fields}}
                  <tr>
                    <td>{{ name }}</td>
                    <td>{{ uniqueness }}%</td>
                    <td>
		      <div class="panel-group" id="accordion">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFormat{{name}}">
				Data Formats
			      </a>
			    </h4>
			  </div>
			  <div id="collapseFormat{{name}}" class="panel-collapse collapse">
			    <div class="panel-body">
                              <!-- Formats -->
			      <table class="table table-striped">
				<thead>
				  <tr>
				    <th>Format</th>
				    <th>Count</th>
				  </tr>
				</thead>
				<tbody>
				  {{#formats}}
				  <tr>
				    <td><a href="{{show-path}}">{{format}}</a></td>
				    <td>{{count}}</td>
				  </tr>
				  {{/formats}}
				</tbody>
			      </table>

			    </div>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			      <a data-toggle="collapse" data-parent="#accordion" href="#collapseValues{{name}}">
				Values
			      </a>
			    </h4>
			  </div>
			  <div id="collapseValues{{name}}" class="panel-collapse collapse">
			    <div class="panel-body">
			      <!-- Values -->
			      <table class="table table-striped">
				<thead>
				  <tr>
				    <th>Value</th>
				    <th>Count</th>
				  </tr>
				</thead>
				<tbody>
				  {{#common-values}}
				  <tr>
				    <td><a href="{{show-path}}">{{value}}</a></td>
				    <td>{{count}}</td>
				  </tr>
				  {{/common-values}}
				</tbody>
			      </table>

			    </div>
			  </div>
			</div>
                      </td>
                    </tr>
                    {{/fields}}
		  </tbody>
		</table>
              </div>
            </div>
	  </div>
	</div>
{{>footer}}
