{{>header}}
      <div class="container-fluid">
	<div class="row">
          <div class="col-sm-12 col-md-12 main">
            <h1 class="page-header">Available Profiles</h1>
            <table class="table table-striped">
	      <thead>
		<tr>
		  <th>Profile Name</th>
		  <th>URI</th>
		  <th>Profile</th>
		  <th>Examples</th>
		</tr>
	      </thead>
              <tbody>
		{{#profiles}}
		<tr>
                  <td>{{profile-name}}</td>
                  <td>{{uri}}</td>
                  <td><a href="{{profile-path}}">show</a></td>
                  <td><a href="{{examples-path}}">10 rows</a></td>
		</tr>
		{{/profiles}}
              </tbody>
            </table>
	  </div>
	</div>
{{>footer}}
