{{>header}}
      <div class="container-fluid">
	<div class="row">
          {{>sidebar}}
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Examples</h1>
            <table class="table table-striped">
	      <thead>
		<tr>
		  <th>Profile Name</th>
		  <th>URI</th>
		  <th>Row Count</th>
                  <th>Data</th>
		</tr>
	      </thead>
              <tbody>
		<tr>
		  <td><a href={{profile-path}}>{{ profile-name }}</a></td>
                  <td>{{ uri }}</td>
		  <td>{{ row-count }}</td>
                  <td><a href="{{examples-path}}">First 10</a></td>
		</tr>
              </tbody>
            </table>

            <h2 class="sub-header">Rows</h2>
            <div class="table-responsive">
              <table class="table table-striped">
		<thead>
                  <tr>                  
                  {{#fields}}
                    <th>{{name}}</th>
                  {{/fields}}
                  </tr>                  
		</thead>
		<tbody>
		  {{#rows}}
                    <tr>
                      {{#values}}
                      <td>{{.}}</td>
                      {{/values}}
                    </tr>
                  {{/rows}}
		  </tbody>
		</table>
              </div>
            </div>
	  </div>
	</div>
{{>footer}}
