[
 {:db/id #db/id[:db.part/db]
  :db/ident :profile/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The name of a profile"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :profile/uri
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Data source uri"
  :db.install/_attribute :db.part/db}
]
